
:root {
	--c1: #daafa8;
	--c2: #f3edf7;
	--c3: #d8cdd1;
	--c4: #b49289;
	--c5: #482e5e;
	--link-hover: #0d6efd;

  }

body {
	background-color: var(--c2);
}

.custom-nav-bg-color {
	background-color: var(--c2);
}

.custum-row-bg-color {
	background-color: var(--c3);
}

.custom-btn-style {
	background-color: var(--c5);
	border: 0;
	border-radius: 0;
	color: white;
}

.custom-margin-skip {
	margin-top: 130px;
}

.custom-centering-pad {
	padding-left: 10%;
	padding-right: 10%;
}


.dropdown-menu {
	/*background-color: var(--c2);*/
	border: none;
	border-radius: 0;
}


.navbar .megamenu{ padding: 1rem 0; }

.nav-link:focus,
.nav-link:hover,
.megamenu-nav-list dt a:hover,
.megamenu-nav-list dd a:hover {
	color: var(--link-hover);
}

.megamenu-nav-list a {
	color: black;
	text-decoration: none;
}


.hero-image {
	height: 85vh;
	width: 100vw;
	position: relative;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url("../img/hero-image.jpg");

}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.65);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  }


/*Media query for navbar, small screen center logo and burger-menu*/

@media all and (min-width: 992px) {

	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
  
  }	
  
  @media(max-width: 991px){
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
	  overflow-y: auto;
		max-height: 90vh;
		margin-top:10px;
	}
  }

@media only screen and (max-width: 374px) {
	
	.navbar-toggler	{
		margin: auto;
	}
	
	.navbar .container {
		justify-content: space-around;
	}
	
}


@media only screen and (min-width: 768px) {
	.carousel-inner {
		height: 500px;
	}

	.carousel-item, .carousel-item img {
		height: 500px;
		width:100%;
	}
  
  } 
  

  @media only screen and (max-width: 767px) {
	.carousel-inner {
		height: 300px;
	}
	
	.carousel-item, .carousel-item img {
		height: 300px;
		width:100%
	}
  }

.card-img-top-custom {
    max-width: 450px;
    object-fit: cover;
}


.card-zoom-animation .card {
	max-width: fit-content;
	border: none;
	border-radius: 0;
	transition: all 0.3s;

}

.card-zoom-animation .card:hover {
	transform: scale(1.15);
	cursor: pointer;
}

.img-thumbnail {
	max-width: 70%;
	max-height: 70%;
}

.benefit-section-homepage .card {
	background-color: var(--c3);
	border: none;
	
}

.card-title-border {
	height: 5px;
	width: 30%;
	margin: auto;
	background-color: var(--c4);
	transition: all 0.3s;
}

.card:hover > .card-title-border {
	transform: scaleX(1.4);
}

.form-control {
	border-radius: 0;
}


.additional-contacts-section .card {
	border: none;
	border-radius: 0;
}



/*product styles*/

.prod-profile-img-container {
	position: relative;
}

.prod-profile-img-text {
	position: absolute;
	color: white;
	top: 20%;
	left: 60%;
	right: 20%;
}

@media only screen and (max-width: 1024px) {
	.prod-profile-img-container {
		position: relative;
	}
	
	.prod-profile-img-text {
		color: black;
		position: static;
		margin-bottom: 20px;
	}
}


.gallery-image {
	transition: all 0.3s;
}

.gallery-image:hover {
	transform: scale(1.1);
}


.plus-section-product .card {
	background-color: var(--c3);
	border: 0;
}

.pvc-windows-cards-container img.card-img-top-custom {
	max-height: 600px;
}


.wnd-plus-section img {
	max-width: 60%;
	margin:auto;
}

.wnd-plus-section .card {
	background-color: var(--c3);
	border: 0;
	max-width: 300px;
	margin:auto;
}

.wnd-plus-section .card-title {
	text-align: center;
}

.product-list-container .card {
	margin: auto;
	max-width: 450px;
	margin-bottom: 1rem;
}

.product-list-container .card img {
	margin: auto;
	max-width: 100%;
	
}

.custom-prod-list-slide .card img {
	padding: 10px;
	max-width: 90%;
}

.custom-prod-list-slide-big .card img {
	max-width: 70%;
	padding: 10px;
}

.custom-prod-list-slide .card,
.custom-prod-list-slide-big .card {
	background-color: #DFDDDD; /*foun color with tha same contrast 1.14:1*/
}

.prod-list-custom-spacer {
	width: 10%;
}








